.mfl-banner {
    padding:10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: rgb(64, 64, 65);
    background-color:rgb(255, 255, 255);
}

.headerbar {
    width: 50px !important;
}